.field {
  @include mobile-small {
    flex: 1 0 100%;
  }

  &.is-grouped {
    .field:last-child {
      margin-bottom: 0.75rem;
    }
  }

  .has-addons-centered,
  .is-grouped-centered {
    .control {
      text-align: inherit;
    }
  }

  &-invert {
    .input,
    .select select {
      background: none;
      color: rgba($white, .85);
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      box-shadow: none;
      padding: 0;

      &:focus {
        box-shadow: none;
        color: rgba($white, 1);
      }

      &::placeholder {
        color: rgba($white, .33);
      }
    }

    .select:not(.is-multiple):not(.is-loading) {
      &::after {
        border-color: rgba($white, .85);
      }

      &:hover,
      &:focus {
        &::after {
          border-color: rgba($white, .66);
        }
      }
    }

    .label {
      color: rgba($white, .66);
    }

    .autocomplete {
      .dropdown {
        &-menu {
          padding-top: 0.5rem;
        }

        &-content {
          background: none;
          box-shadow: none;
          padding-top: 0;
          padding-bottom: 0;
        }

        &-item {
          color: rgba($white, .5);
          padding: 0;
          line-height: 2;

          &:hover,
          &:focus,
          &.is-hovered {
            background: none;
            color: inherit;
          }
        }
      }
    }

    .control {
      .button {
        background: none;
      }
    }

    .checkbox,
    .radio {
      &:hover,
      &:focus {
        color: rgba($white, .85);
      }
    }
  }

  &-huge {
    .input {
      font-size: 4rem;
      height: 1.5em;
      line-height: 1;
      font-weight: $weight-bold;
      border-bottom-width: 2px;
    }

    .label {
      font-size: $size-5;
    }

    .autocomplete {
      .dropdown-item {
        font-size: $size-4;
      }
    }

    .control {
      display: flex;
      align-items: center;


      &.is-loading::after {
        width: 2em;
        height: 2em;
        right: 0;
        top: 1.5em;
      }

      .button {
        height: 100%;
      }
    }
  }
}
