$displays: (
  'block',
  'flex',
  'inline',
  'inline-block',
  'inline-flex'
);

// @each $display in $displays {
//   @include mobile-small {
//     .is-#{$display}-mobile-small {
//       display: #{$display} !important;
//     }
//   }
// }

// @include mobile-small {
//   .is-hidden-mobile-small {
//     display: none !important
//   }
// }

.button,
.input,
.taginput .taginput-container.is-focusable,
.textarea,
.select select,
.file-cta,
.file-name,
.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis,
a.navbar-item,
.navbar-link,
.navbar-burger,
.dropdown-item,
.select:not(.is-multiple):not(.is-loading)::after {
  transition: all $speed-medium ease-in-out;
}

.input::placeholder,
.taginput .taginput-container.is-focusable::placeholder,
.textarea::placeholder,
.select select::placeholder {
  opacity: 1;
}

.button {
  transition: color $speed-medium ease-in-out,
    background $speed-medium ease-in-out;
}

.navbar {
  &.is-primary {
    $pair:  map-get($colors, "primary");
    $color-invert: nth($pair, 2);

    .navbar-item,
    .navbar-link,
    .navbar-burger {
      &:focus,
      &:hover,
      &.is-active {
        color: $color-invert;
      }
    }

    .navbar-item,
    .navbar-link {
      color: rgba($color-invert, 0.8);
    }

    .navbar-brand > a.navbar-item,
    .navbar-brand .navbar-link,
    .navbar-burger,
    .navbar-start > a.navbar-item,
    .navbar-start > .navbar-link,
    .navbar-end > a.navbar-item,
    .navbar-end > .navbar-link {
      color: rgba($color-invert, 0.8);

      &:focus,
      &:hover,
      &.is-active {
        background-color: transparent;
      }
    }

    .navbar-menu {
      background-color: transparent;
    }
  }
}

.content {
  &.is-medium {
    font-size: 1.2rem;
  }

  &.is-inverted {
    * {
      color: inherit;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 200;
      line-height: 1.25;
      opacity: .85;
    }

    h1,
    h2,
    h3 {
      letter-spacing: -.02rem;
    }

    a {
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    blockquote {
      font-family: $family-serif;
      background: initial;
      border: initial;
      padding: initial;
      font-style: italic;
    }
  }
}
