@font-face {
    font-family: 'Hind';
    src: url('../fonts/hind-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Hind';
  src: url('../fonts/hind-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Willful';
    src: url('../fonts/willful.woff2') format('woff2'),
         url('../fonts/willful.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
